@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

/* @font-face {
  src: url('./assets/fonts/Roboto-Bold.ttf') format('truetype');
  font-family: 'Roboto-Bold';
}

@font-face {
  src: url('./assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-family: 'Poppins-Regular';
} */

body {
  font-family: 'Inter', sans-serif;
}

@theme {
  --color-primary: #ff4e02;
  --color-dark: #17181c;
  --color-secondary: #1c1c1e;
  --color-base: #2f3034;
  --color-light: #ffffff;
}
